<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
	<title>Dispatch</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="device-width, initial-scale=1.0">
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
	<script type='text/javascript' src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<script type='text/javascript'>
		let csv=null;
		let orderList=[];//order_id
		function hideViewPart(){
			$('#view_part').hide();
		}
		function showViewPart(){
			$('#view_part').show();
		}
		function start(){
			hideOrderPart();
		}
		function hideOrderPart(){
			$('#order_part').hide();
		}
		function showOrderPart(){
			$('#order_part').show();
		}
		function next(){
			showOrderPart();
			hideViewPart();
			updateOrderList();
		}
		function action(){

			setOrdersDispatched();
			sendEmail();
			hideOrderPart();
			showViewPart();
			document.getElementById("orders").innerHTML = ""; //reset order
		}
		function getItinerary(){
			csv=$(this).get('D/view');
			var hiddenElement=document.createElement('a');
			hiddenElement.href='data:text/csv;charset=utf-8,'+encodeURI(csv);
			hiddenElement.target='_blank';

			hiddenElement.download='itinerary.csv';
			hiddenElement.click();
		}
		function updateOrderList(){
			orderList=$(this).get('D/view');
			for(order in orderList){
				$("#orders").append(orderList[order]+"<br/>");
			}
		}
		function setOrdersDispatched(){
			let jsonObj = {
				orderIdList: orderList,
			};

			$.post('dispatcher/dispatchUpdate', jsonObj, function(response){
				//Success
			});
		}
		function sendEmail(){
		    // to be modified
            return true;
		}
	</script>
</head>
<body onload="start();">
Dispatcher Menu
<div id="view_part">
	<input type='button' value='View new set of orders to be dispatched' id='test' onclick="next();">
</div>
<div id="order_part">
	<br/>
	<br/>
	<input type='button' value='Download itinerary' onclick="getItinerary();">
	<input type='button' value='Update all status as "Dispatched"' onclick="action();">
	<br/>
	<br/>Next set of orders to be loaded:
    <br/>Top order: <strong>Order 1</strong>
    <br>
    <br/>Order 1 Clinic: Peng Chau Priority: Medium
    <br/>Items: B Braun Medical Lactated Ringers 250ml X 27
    <br/>
    <br/>Order 2 Clinic: North Lamma Priority: High
    <br/>Items: B Braun Medical Lactated Ringers 250ml X 1
    <br/>       ICU Medical Normosol-R Ph 7.4 500ml X 4
    <br/>       Baxter Dextrose 5%, NaCl  0.33% 1000ml X 4
    <br/>
    <br/>Order 3 Clinic: Ap Lei Chau Priority: Medium
    <br/>       ICU Medical Normosol-R Ph 7.4 500ml X 3
    <br/>
    <br/>Order 4 Clinic: Mui Wo Priority: High
    <br/>Items: B Braun Medical Lactated Ringers 250ml X 2
    <br/>       ICU Medical Normosol-R Ph 7.4 500ml X 3
    <br/>       Baxter Dextrose 5%, NaCl  0.33% 1000ml X 4
    <br/>
    <br/>Order 5 Clinic: Sok Kwu Wan Priority: Low
    <br/>Items: B Braun Medical Lactated Ringers 250ml X 1
    <br/>       Baxter Dextrose 5%, NaCl  0.33% 1000ml X 8
    <br/>
{#	<br/>Order Details#}
{#	<br/>Top order:#}
{#	<div id="orders">#}
{#	</div>#}
{#	<br/>Top order:#}
</div>
</body>
</html>