#icon {
  width: 90px;
  margin: 20px;
}

#system {
  margin-right: 20px;
}

#clinic_name {
  border: 1px solid red;
  padding: 8px;
  border-radius: 20px;
}

hr {
  padding: 0;
  margin: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #619BF8;
  color: white;
  text-align: center;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bar {
  margin: 10px;
}

#selector {
  margin: 10px;
  width: 610px !important;
  display: inline-block;
}

#priority-selector{
  margin: 10px;
  width: 305px;
  display: inline-block;
}

#success-message{
  display: none;
  border: 1px solid red;
  width: 15%:
  padding: 8px;
  border-radius: 20px;
}

#createOrder-div{
  margin: 10px;
  display: inline-block;
  float: right;
}

#maincontent {
  display: none;
  margin: 10px;
}

.card-body{
  padding: 20px;
}

.card.text-center{
  margin: 0 auto;
  width: 80%;
}

.list-group-item{
  max-width: 100%;
}

#weight-warning{
  color: red;
  font-weight: bolder;
  display: none;
}

.category_checkbox{
  align-items: center;
}

.category_quantity {
  align-items: center;
}
