#icon {
  width: 90px;
  margin: 20px;
}

#system {
  margin-right: 20px;
}

#clinic_name {
  border: 1px solid red;
  padding: 8px;
  border-radius: 20px;
}

hr {
  padding: 0;
  margin: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #619BF8;
  color: white;
  text-align: center;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bar {
  margin: 10px;
}

#maincontent{
  display: none;
}

#downloadItinerary{
  display: none;
}

#updateToDispatch{
  display: none;
}
