<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
      window.CSRF_TOKEN = "{{ csrf_token }};"
    </script>
    <script type="text/javascript" src="../../static/js/warehouse.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/warehouse.css">
    <link rel="shortcut icon" href="#" />
    <title>Warehouse Management System</title>
  </head>

  <body>
    <header>
      <img id="icon" src="../../static/img/radar.png">
      <button id="system" type="button" class="btn btn-primary">AS-P System</button>
      <span id="clinic_name" class="unselectable">Warehouse Personnel</span>
    </header>
    <div class="bar">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a id="bs-section-button" class="nav-link unselectable active">Warehouse Menu</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account settings</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Change Password</a>
            <a class="dropdown-item" href="#">Change email address</a>
            <a class="dropdown-item" href="#">Change name</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>

    <div id="maincontent">
      {% if results %}
      {% if results|length != 0 %}
          <!-- <button id="processButton" type="button" class="btn btn-primary" onclick="processTop();">Process the top order</button> -->
          <button id="processButton" type="button" class="btn btn-primary" onclick="obtainSL();">[DEBUG] Obtain Shipping Label</button>
      {% endif %}
      <table class="table">
          <thead>
            <tr>
              <th scope="col" style="width: 70%">Order Clinic</th>
              <th scope="col" style="width: 30%">Order Time</th>
            </tr>
          </thead>
          <tbody>
          {% for result in results %}
          <tr>
              <td>{{ result.ordering_clinic }}</td>
              <td>{{ result.orderedDatetime }}</td>
          </tr>
          {% endfor %}
          </tbody>
        {% else %}
            <button id="processButton" type="button" class="btn btn-primary" onclick="processTop();" disabled>Process the top order</button>
        {% endif %}
      </table>
    </div>

    <div id="alt-maincontent">
      {% include 'WHP/warehouseDetail.html' %}
    </div>

  </body>
</html>
<footer>
  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
      target="_blank">CC 3.0 BY</a></div>
</footer>
