{% block content %}
  {% if process_results %}
      <button id="processButton" type="button" class="btn btn-primary" onclick="">Complete order</button>
      <div class="panel panel-success">
        <div class="panel-heading">Order Details</div>
        <div class="panel-body">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="width: 20%">Order ID</th>
                  <th scope="col" style="width: 80%">Item details</th>
                </tr>
              </thead>
              <tbody>
              {% for result in results %}
                  <tr>
                    <td id="order_id" scope="row">{{ result.order_id }}</td>
                    <td>
                    {% for item in result.items %}
                    {{item.name}} <br><b>Quantity</b>: {{item.quantity}}<br><img id="icon" src='../../static/img/{{ item.supply_id }}.JPG'><br>
                    {% endfor %}
                    <hr>
                    <strong>Weight:</strong> {{result.total_weight}} KG
                    </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
  {% endif %}
{% endblock %}
