{% block content %}
  {% if process_results %}
      <button id="processButton" type="button" class="btn btn-primary" onclick="obtainSL();">Obtain Shipping Label</button>
      <button id="completeOrderButton" type="button" class="btn btn-danger" onclick="completeOrder();" disabled>Complete order</button>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="width: 20%">Order ID</th>
                  <th scope="col" style="width: 80%">Item details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="order_id" scope="row">{{ process_results.id }}</td>
                  <td>
                    <strong>Clinic:</strong> {{ process_results.clinic }}
                  <hr>
                    <strong>Order Time:</strong> {{ process_results.orderedDatetime }}
                  <hr>
                  {% for item in process_results.items %}
                      {{ item.name }} <br><b>Quantity</b>: {{ item.quantity }}<br><img id="icon" src='../../static/img/{{ item.supply_id }}.JPG'><br>
                  {% endfor %}
                  <hr>
                  <strong>Total weight:</strong> {{ process_results.weight }} KG
                  </td>
                </tr>
              </tbody>
          </table>
  {% endif %}
{% endblock %}
