{% block content %}
    {% if results %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 5%"></th>
            <th scope="col" style="width: 10%">Item id</th>
            <th scope="col" style="width: 30%">Item description</th>
            <th scope="col" style="width: 30%">Additional information</th>
            <th scope="col" style="width: 20%">Quantity</th>
          </tr>
        </thead>
        <tbody>
      {% for result in results %}
          <tr>
            <td scope="row" id="checkbox"><input class="category_checkbox" type="checkbox" onclick="checkboxToggle(this);" disabled></input></td>
            <td class="category_id_parent">{{result.id}}</td>
            <td>{{result.name}}<img id="icon" src='../../static/img/{{result.id}}.JPG'></td>
            <td>{{result.description}}<br><strong>Weight:</strong> {{result.weight}} KG</td>
            <td class="category_quantity_parent"><input class="category_quantity" type="text" name="{{result.weight}}" oninput="toggleCheckbox(this)"></input></td>
          </tr>
      {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
