{% block content %}
    {% if results %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 10%">Order id</th>
            <th scope="col" style="width: 70%">Order detail</th>
            <th scope="col" style="width: 20%">Process Date Time</th>
          </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr>
            <td style="">{{ result.order_id }}</td>
            <td>
            {% for item in result.items %}
              {{item.name}}<img id="icon" src='../../static/img/{{item.id}}.JPG'> <b> × {{ item.quantity }} units</b>
              <hr>
            {% endfor %}
            <b>Total Weight: {{ result.weight }} KG</b>
            </td>
            <td>{{result.processedDatetime}}</td>
        </tr>
        {% endfor%}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
